<app-rounded-image [imageSrc]="'/assets/image1.png'"></app-rounded-image>
<div>
    <h2>Happy Birthday, {{ developerName }}!</h2>
    <p>May your year ahead be as dynamic and responsive as <b>Angular's data binding.</b></p>
    <p>Wishing you a day full of joy and <em>dependency injections</em> of happiness.</p>
    <p>Let's celebrate with no errors, just like a successful <b>AOT compilation!</b></p>
    <p>Hope your birthday is as extraordinary as an Angular element in a sea of plain HTML.</p>
    <p>May your special day be as meticulously crafted as an Angular module.</p>
    <p>Here's to a year where every challenge is just another component to master.</p>
    <p>Happy birthday and may your life's build always pass with <b>zero warnings or errors!</b></p>
</div>